
  <%- include('partials/_header') %>

  <section class="mt-5">
<div id="story_page" class="card container-lg">

<div class="row">
  <div class="col text-center">
    <h2 class="card-title mt-3" style="text-decoration: underline;"> <%= story.title %></h2>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 text-center">
    <p class="card-subtitle mt-3">Author: <%= story.username %></p>
  </div>
  <div class="col-lg-6 text-center">
    <p class="card-subtitle mt-3">Created on: <%= story.created_at %></p>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <h4 class="card-title mt-3">Description</h4>
    <div class="card-body">
      <%= story.description %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-9 text-center">
  </div>
  <div class="col-lg-3 text-center">
    <h5 class="card-subtitle mt-3">* <%= story.completed_at ? 'Completed' : 'Not Complete' %> *</h5>
    <div>
        <button class="btn btn-outline-success mt-2" style="border-radius: 5em;" type="checkbox" name="toggleButton" id="toggleButton"
          onclick="handleToggle(<%= storyId %>,<%= story.user_id %> )" >Complete</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <h4 class="card-title mt-3">Story</h4>
    <div class="card-body story-section">
     <p><%= story.content %></p>
    </div>
  </div>
</div>

</div>
</section>

<section class="mt-3 contributors">
  <div id="story_page" class="card container-lg">

    <div class="row">
      <div class="col text-center">
        <h2 class="card-title mt-3" style="text-decoration: underline;"> Contributions </h2>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <h4 class="card-title mt-3">List Of Contributions</h4>
        <p class="card-subtitle mt-1 opacity-50"> "A big thank you to everyone who contributed to this story's creation"</p>
      </div>
      <div style="align-items: center;">
      <ul>
        <li class="mt-2">Ye boatswain Gold Road lad heave down swab lee nipperkin bowsprit fire ship hearties black jack Privateer loot trysail capstan matey chandler avast gangway topgallant gaff aye wench barque interloper warp rope's end lateen sail gunwalls. <span class="opacity-50">-Shaj</span> </li>
        <li class="mt-2"> hardtack barkadeer capstan lateen sail interloper loot Admiral of the Black doubloon <span class="opacity-50">-Nat</span></li>
        <li class="mt-2"> landlubber or just lubber parrel haul wind long boat six pounders heave to jib quarterdeck hearties hail-shot bowsprit walk the plank long clothes mizzenmast loot lanyard yo-ho-ho bilge rat grog Letter of Marque man-of-war chandler starboard. <span class="opacity-50">-Olu</span></li>
      </ul>
    </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <h5 class="card-subtitle mt-3 contributors opacity-50"> "Have an idea you want to share? You should submit it!"</h5>
        <form class="mt-3" action="/story/<%= story.story_id %>/contribute" method="get">
          <button class="btn btn-outline-primary" style="border-radius: 5em;" type="submit">Contribute</button>
        </form>
      </div>
    </div>

  </div>
</section>

<section>
  <form action="/story/<%= story.story_id %>/favorite" method="post">
    <button type="submit">Add to my favorite</button>
  </form>
 </section>


    <script>
      function handleToggle(storyId, user_id) {
        const toggleButton = document.getElementById('toggleButton');
        // Send an AJAX request to the server
        fetch("/story/<%= storyId %>/toggle", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
        })
          .then(response => {
            if (response.ok) {
              console.log('Story status updated.');
            } else {
              console.error('Failed to update story status.');
            }
          })
          .catch(error => {
            console.error('Error updating story status:', error);
          });
      }
    </script>
</body>

</html>
